

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}

.phone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin-top: 50px;
  
}

.phonescreen{
  height: 350px;
  width: 450px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15181e;
}

.alphabet-keyboard {
  height: 350px;
  width: 450px;
  border: 1px solid black;
  display: grid;
  /* flex-wrap: wrap; */
  grid-row: inherit;
  grid-row: 4;
  grid-template-columns: repeat(2,1fr);
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  gap: 8px;
  margin-top: auto; 
}

